<div class="container footer-info">
    <hr/>
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="footer-links">
                <h3 class="">genericwala.com</h3>
                <p> Generiwala.com was started by a Health care BPO Company having more than 20 years of experience in Health care Industry.</p>

                <p>Generiwala.com is an online pharmacy, we provide you quality generic medicines that are produced by reputed Companies at affordable price.</p>
                <p> We also provide the latest news and updated about generic medicines. Our aim is to reduce healthcare expenses. </p>

            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="footer-links">
                <h3 class="">Contact Us</h3>
                <div class="box-contact">
                    <p class="address"><span class="fa fa-map-marker"></span> Badeti's Mansion, # 6-3-712/135,
                        <br/>Panjagutta Colony,<br/> Hyderabad - 500 082, <br/> Telangana,India.
                    </p>
                    <p class="phone"><span class="fa fa-phone"></span> 040-66666591<br/> +91-8885916591</p>
                    <p class="email"><span class="fa fa-envelope"></span> <span class="text"> support@genericwala.com</span></p>
                </div>
                <ul class="list-unstyled list-inline">
                    <h3>Connect With Us</h3>

                    <li>
                        <a href="https://www.facebook.com/genericwala" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="https://plus.google.com/+Genericwalaonlinepharmacy" target="_blank"><i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/genericwala" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="footer-links">
                <h3 class="">Why buy from us</h3>
                <ul class="list-unstyled list">
                    <li><a routerLink="/about-us">About Us</a></li>
                    <li><a routerLink="/about-us">Blog</a></li>
                    <li><a routerLink="/faqs">F.A.Q.’s</a></li>
                    <li><a routerLink="/terms-and-conditions">Terms and Conditions</a></li>
                    <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                    <li><a routerLink="/return-policy">Return Policy</a></li>
                    <li><a routerLink="/contact-us">Contact Us</a></li>


                </ul>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="footer-links">
                <h3 class="">Support</h3>
                <ul class="list-unstyled list">
                    <li><a routerLink="/why-gnrc-mdcn">Why Generic Medicines ?</a></li>
                    <li><a routerLink="/hstry-of-gnrc-drugs">History of generic drugs</a></li>
                    <li><a routerLink="/gnrc-drugs-india">Generic drugs in India</a></li>
                    <li><a routerLink="/gnrc-drug-lnks">Generic drugs links</a></li>
                    <li><a routerLink="/lst-of-mdcns">List of Medicines</a></li>
                    <li><a routerLink="/ask-expert">Ask the Experts</a></li>

                </ul>
            </div>
            <h3 class="title mobile">Payment Methods</h3>
            <a class="" href="#"><img src="../../assets/img/payment-options.png" class="img-responsive pull-right" alt=""></a>
        </div>
    </div>
    <hr/>
    <div class="row text-center">
        <div class="col-xs-12">
            <small class="copyright">
                <p>Copyright © 2018 Genericwala.com, Inc. All rights reserved.</p>
                <a id="back-to-top" href="" class="btn btn-warning  back-to-top" role="button" title="Click to return top page" data-toggle="tooltip" data-placement="left"><i _ngcontent-c1="" class="material-icons">arrow_upward</i></a>
					</small>
        </div>
    </div>
</div>