<section class="banner-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item">
                        <a routerLink="/Home"><i class="fa fa-home" aria-hidden="true"></i></a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a routerLink="/why-gnrc-mdcn">Why Generic Medicines</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h3>Why Generic Medicine ?</h3>

            <p>
                Generic drugs have the same active ingredients as their brand names drugs, both the type of drugs are approved by the Food and Drug Administration (FDA).
            </p>
            <p>
                Generics drugs are available after patent for the drug expires. Patent periods on drugs may last for up to 20 years. The same company that manufactures the brand drug may also manufacture the generic version or else by a different company.
            </p>
            <p>
                Generic medicines are as effective as branded ones; the only difference is they are very affordable.
            </p>


            <p>
                Generic drugs are available for most health issues like Diabetes, Blood Pressure, Heart Disease, Malaria and Joint Pains. Most regularly used Multi-Vitamins and antibiotics are also available.
            </p>
            <p>
                Generic Medicines are manufactured by reputed Companies like Cipla, Biochem, Alembic, Lupin, Ranbaxy etc.
            </p>
        </div>
    </div>
</div>
<app-popular-brands></app-popular-brands>
<app-footer></app-footer>