<section class="banner-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item">
                        <a routerLink="/Home"><i class="fa fa-home" aria-hidden="true"></i></a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a routerLink="/History Of Generic Drugs">History Of Generic Drugs</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<div class="container trmsandcndtns">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h3>History Of Generic Drugs</h3>

            <p>
                The origin of Generic Drugs can be found from 1920s, Bayer a Pharmaceutical Company that produces Aspirin fought vigorously to keep generic versions off the shelves. Bayer lost in court, and consumers suddenly had an array of choices in generic aspirin.
                Today, generic drugs are both widely available and carefully regulated. This wasn't always the case. Before some decades back, drug companies could release new products with far less testing than is required today. The real test of a drug's
                safety and effectiveness came after its entry into the market. If too many patients had bad reactions, the drug could be pulled off the shelves. The danger of this approach became tragically clear when the sedative Thalidomide caused thousands
                of devastating birth defects in Europe, Canada, Latin America, Africa, and Asia.
            </p>
            <h4>New regulations</h4>
            <p>
                Those days effectively ended in 1962 when the Food and Drug Administration dramatically revamped the Federal Food, Drug, and Cosmetic Act, originally passed in 1938. It strengthened the drug testing laws already on the books, and for the first time, companies
                were required to prove that a drug was both safe and effective before it reached the market place. All new drugs had to go through a lengthy and expensive process that included large-scale human trials.
            </p>


            <p>
                The new regulations applied to both brand name and generic drugs, a fact that slowed the release of new generics to a trickle. New generic drug’s had to go through the same investigational trials as any other drugs, even if its active ingredients were
                identical to an already established brand name drug. Companies also had to wait for the brand name patent to expire before they could even do the testing required to produce a generic. Most companies did not bother. By 1983, only 35 percent
                of the top-selling drugs with expired patents had a generic competitor, according to the Congressional Budget Office.
            </p>
            <h4>Stiff competition</h4>
            <p>
                Today, the rate of competition is closer to 100%. Generic versions crop up almost immediately after the patent on a brand name drug expires. The floodgates opened in 1984 with the passage of the Drug Price Competition and Patent Term Restoration Act,
                commonly known as the Hatch-Waxman Act. The FDA calls it "one of the most successful pieces of legislation ever passed."
            </p>
            <p>
                The new law made it much easier and cheaper to bring a new generic drug to market. Instead of going through lengthy human trials, companies merely had to prove that their drug had the same active ingredients and that they performed in the body the same
                way as the brand-name drug. The act also increased the amount of time a company could hold an exclusive patent on a new drug. Within a year, the FDA received more than 1,000 applications for new generic drugs, and the Generic Drug industry
                was born.
            </p>
            <p>
                The act dramatically changed the face of medicine. We've come a long way since the time when generic aspirin first hit the shelves.
            </p>
            <h4>References:</h4>
            <p>
                U.S. Food and Drug Administration. Generic Drugs: Myths and Facts. July 2009.
            </p>
            <p>
                Food and Drug Administration. Consumer Education: What You Should Know About Buying and Using Generic Drugs. July 2009.
            </p>
            <p>Russell Mokhiber. The Tragic Children of Thalidomide. The Multinational Monitor. April 1987. Volume 8, Number4.</p>
            <p>U.S. Food and Drug Administration. Generic Drugs. 2009.</p>
            <p>Nolan S . What every physician should know about generic drugs. Family Practice Management. March, 2002. 9(3): 45-46.
            </p>
            <p>American Academy of Family Physicians. Position paper. Drugs, Generic. 2001.</p>
            <p>Consumers Union. Low-cost generic antidepressants could save consumers $1,200 a year or more. February 2005.</p>
            <p>Pharmacy Checker.com. November 2010.</p>
            <p>American Academy of Family Physicians. Position paper. Drugs, Generic. 2001.</p>
            <p>Mofsen, R et al. Case reports of the reemergence of psychotic symptoms after conversion from brand name clozapine to a generic formulation. Clinic Ther 2001, Oct; 23(10): 1720-31.</p>
            <p>Mohler P and S Nolan. What every physician should know about generic drugs. Family Practice Management. March, 2002. 9(3): 45-46.</p>
            <p>Tufts University. Are you tapping the value of generic drugs? March 5, 2002.</p>
            <p>Physicians say no to automatic therapeutic drug substitutions. Amednews.com Jan 2001.</p>
            <p>Report 6 of the Council on Scientific Affairs (A-02) -- Generic Drugs National Institute for Health Care Management -- A Primer: Generic Drugs, Patents, and the Pharmaceutical Marketplace</p>
            <p>U.S. FDA ANDA (Generic) Drug Approvals Updated Nov 15, 2010</p>
            <p>Consumer Education: Generic Drugs. U.S. Food and Drug Administration. Updated April 10, 2006</p>
            <p>Purris, L. Strategies to Increase Generic Drug Utilization and Associated Savings. AARP Public Policy Institute. December 2008.</p>
            <p>U.S. FDA. Saving Money on Prescription Drugs. FDA Consumer Magazine. Sept-Oct 2005.</p>
            <p>U.S. FDA. Approved Drug Products with Therapeutic Equivalence Evaluations. 28th Edition. 2008.</p>
            <p>Food and Drug Administration. Frequently Asked Questions about Generic Drugs. October 2007.</p>
            <p>Food and Drug Administration. Generic Drugs: Questions and Answers. Updated September 9, 2010</p>

        </div>

    </div>
</div>
<app-popular-brands></app-popular-brands>
<app-footer></app-footer>