<!-- /#Services Section -->
<section class="gnrc-services">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 text-center srvc-hvr">
                <div class="i-rounded">
                    <a href="#">
                        <i class="material-icons media-object">local_shipping</i>
                    </a>
                </div>

                <h4 class="media-heading">Free Shipping</h4>
                <p>On all Order Above 300 (in Hyderabad)</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center srvc-hvr">
                <div class="i-rounded">
                    <a href="#">
                        <i class="material-icons media-object">update</i>
                    </a>
                </div>
                <h4 class="media-heading">On Time</h4>
                <p>We Deliver On Time</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center srvc-hvr">
                <div class="i-rounded">
                    <a href="#">
                        <i class="material-icons media-object">headset_mic</i>
                    </a>
                </div>
                <h4 class="media-heading">24/7 support</h4>
                <p>Online pharmacist</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center srvc-hvr">
                <div class="i-rounded">
                    <a href="#">
                        <i class="material-icons media-object">camera</i>
                    </a>
                </div>
                <h4 class="media-heading">Safe Shopping</h4>
                <p>Safe Shopping Guarantee</p>
            </div>
        </div>
    </div>
</section>

<!-- /#Services Section Ends -->