<section class="banner-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item">
                        <a routerLink="/Home"><i class="fa fa-home" aria-hidden="true"></i></a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a routerLink="/faq">Faq</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h3>Faq's</h3>
            <h3 class="text-center">Generic Medicines</h3>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accrdnOne" aria-expanded="true" aria-controls="accrdnOne">
                                Q.What are generic medicines?
                            </a>
                        </h4>
                    </div>
                    <div id="accrdnOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accrdnOne">
                        <div class="panel-body">
                            <span class="label label-primary">Answer</span>
                            <br/>
                            <br/>
                            <p>Generic medicines are defined as “a drug product that is comparable to a brand/reference listed drug product in dosage form, strength, quality, performance, and intended use."</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accrdnTwo">
                                Q.Describe briefly the origin of a generic drug and when does it come to the market?
                            </a>
                        </h4>

                    </div>
                    <div id="accrdnTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span class="label label-primary">Answer</span>
                            <br/>
                            <br/>
                            <p>The Research and Development Departments in pharmaceutical and medicine manufacturing firms are mainly responsible for starting their drug discovery, development, and finally marketing the new patent drugs after the approval
                                of the FDA (Food and Drug Administration). The patent drug usually lasts for some years to give the company a chance to recoup its research investment. Once the patent drug completes its period in the market, a generic
                                version of the same drug is made available in the market. Generics are marketed under the drug's chemical or generic name and meet the same FDA quality and standards of the original drug.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accrdnThree">
                                Q.Why are generic drugs safe and effective as brand drugs?
                            </a>
                        </h4>
                    </div>
                    <div id="accrdnThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span class="label label-primary">Answer</span>
                            <br/>
                            <br/>
                            <p>Generic drugs have been approved by the FDA to be safe and effective as brand drugs because they
                            </p>
                            <p>Contain the same active ingredients.</p>
                            <p>They are identical in strength, dosage form, and route of administration.</p>
                            <p>Have the same indications, dosing and labeling.</p>
                            <p>Provides the same efficacy and safety profile to patients and hence called to be “bioequivalent”.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accrdnFour">
                                Q.Are generic drugs strong as brand named drugs?
                            </a>
                        </h4>
                    </div>
                    <div id="accrdnFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span class="label label-primary">Answer</span>
                            <br/>
                            <br/>
                            <p>Yes! Generic drugs are strong as brand named drugs. They have been approved by the FDA to have same quantity, strength and stability as brand named drugs.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accrdnFive">
                                Q.Do generic drugs take longer to work in the body than the brand drugs?
                            </a>
                        </h4>
                    </div>
                    <div id="accrdnFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span class="label label-primary">Answer</span>
                            <br/>
                            <br/>
                            <p>No, generic drugs work in the same way and in the same amount of time as the brand named drugs.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accrdnSix">
                                Q.Explain why generic drugs are less expensive than brand drugs?
                            </a>
                        </h4>
                    </div>
                    <div id="accrdnSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span class="label label-primary">Answer</span>
                            <br/>
                            <br/>
                            <p>The generic drugs are less expensive than the brand drugs because they do not have the investment cost of research, development, and marketing. Generic drug manufacturers rarely spend money on advertising and marketing which
                                is another important way of keeping the costs down. Brand drug manufacturers invest billions of dollars in research, development and marketing their drugs to the doctors in order to make their drug public.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accrdnSeven">
                                Q.Are brand named drugs made better factors than generic drugs?
                            </a>
                        </h4>
                    </div>
                    <div id="accrdnSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span class="label label-primary">Answer</span>
                            <br/>
                            <br/>
                            <p>No. Generic drugs meet the same standards as the brand drugs because they have been approved by the FDA.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accrdnEight">
                                Q.Are generic drugs made by the same companies that make brand-name drugs?
                            </a>
                        </h4>
                    </div>
                    <div id="accrdnEight" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span class="label label-primary">Answer</span>
                            <br/>
                            <br/>
                            <p>In some cases, Yes. Brand-named companies make about half of the generic drugs.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accrdnNine">
                                Q.Is a generic drug available for my brand-named prescription?
                            </a>
                        </h4>
                    </div>
                    <div id="accrdnNine" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span class="label label-primary">Answer</span>
                            <br/>
                            <br/>
                            <p>Yes! A generic drug is available for the brand named prescription.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accrdnTen">
                                Q.How do you find out the availability of the generic drugs?
                            </a>
                        </h4>
                    </div>
                    <div id="accrdnTen" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span class="label label-primary">Answer</span>
                            <br/>
                            <br/>
                            <p>The easiest way to find out the availability is to simply ask your doctor or your pharmacist at your nearest pharmacy. Another effective tool to help you identify whether your brand-name drug has any “therapeutic equivalent"
                                version is to visit online Genericwala.com home page which gives you the equivalent generic drug available in the market.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-xs-12">

            <h3 class="text-center">Genericwala.com</h3>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accrdnEleven" aria-expanded="true" aria-controls="accrdnEleven">
                                Q.What is Genericwala.com?
                            </a>
                        </h4>
                    </div>
                    <div id="accrdnEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accrdnEleven">
                        <div class="panel-body">
                            <span class="label label-primary">Answer</span>
                            <br/>
                            <br/>
                            <p>Genericwala is an online pharmacy. The main objective of Genricwala is to reduce the healthcare expenses for its customers. We are into generic medicines, specialty medicines like Cancer medicines, Anti Diabetic medicines,
                                etc. We also deal with Wellness products, Healthcare Accessories, Surgical products and hospital equipment. We are coming up with healthcare discount deals shortly.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accrdnTwelve">
                                Q.What are the benefits of ordering online?
                            </a>
                        </h4>

                    </div>
                    <div id="accrdnTwelve" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span class="label label-primary">Answer</span>
                            <br/>
                            <br/>
                            <p>You can save time and money by ordering online. We offer discount on quality medicines and surgical products. The discount is generally 10% to 80% on existing MRP price. We have home delivery option for PAN INDIA. You can find
                                all the Product information about the products online.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accrdnThirteen">
                                Q.How can I search for generic medicines in Genericwala.com?
                            </a>
                        </h4>
                    </div>
                    <div id="accrdnThirteen" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span class="label label-primary">Answer</span>
                            <br/>
                            <br/>
                            <p> All you have to do is to go to the search tool in Genericwala.com home page and type the medicine name or composition to get the equaling generic medicines and branded medicines that are available with us. We also provide all
                                the details like dosage, intended use, side effects, route of administration, composition, price, etc. You can also select the appropriate generic medians from category section. We have segregated the medicines based on
                                category of aliment. If you did not find the medicine in the search or category section, you can contact us by calling our land line: 040-66666591, or Cell No : 08885916591, or Whatup or email : support@genericwala.com
                                or online chat to consult out qualified pharmacists to enquire about the availability of the medicines or product.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accrdnFourteen">
                                Q.How to place an online order in Genericwala.com?
                            </a>
                        </h4>
                    </div>
                    <div id="accrdnFourteen" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span class="label label-primary">Answer</span>
                            <br/>
                            <br/>
                            <p>For placing a new order, kindly follow the guidelines.</p>
                            <p>Type the name of the product you wish to purchase in the search.</p>
                            <p>Select from the displayed options.</p>
                            <p>Review the product details.</p>
                            <p> Enter the quantity and add to the cart.</p>
                            <p>Once all the required items are added to the cart</p>
                            <p> Proceed to place order.</p>
                            <p>If new user, Signup and existing user login in.</p>
                            <p>Conform your address.</p>
                            <p>Upload your latest doctor prescription.</p>
                            <p>Verify the order.</p>
                            <p>Submit the order.</p>
                            <p> Make the payment online using our payment options.</p>
                            <p>Once you have submitted and made the payment, you will receive a confirmation mail to your registered email ID with the order details. You will also receive a call or SMS when the order is ready for dispatch.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accrdnFifteen">
                                Q.What are the delivery options at Genericwala.com ?
                            </a>
                        </h4>
                    </div>
                    <div id="accrdnFifteen" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span class="label label-primary">Answer</span>
                            <br/>
                            <br/>
                            <p>You will be contacted once the order is ready for dispatch. We have cash on delivery option for some locations only. All orders from Hyderabad location, will be fulfilled within 4 hours or less during the regular business hours
                                and on the next day in case of late and weekend orders. For outstation orders, once payment conformation is done, we will dispatch the products by Courier or Speed post and based on the distance it may take 2 to 3 working
                                days. The courier/Speed post tracking number is sent by SMS once the dispatch is done.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accrdnSixteen">
                                Q.How can you get help from your online pharmacist?
                            </a>
                        </h4>
                    </div>
                    <div id="accrdnSixteen" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span class="label label-primary">Answer</span>
                            <br/>
                            <br/>
                            <p>We have qualified Pharmacist to guide and advice you. You can consult our online pharmacist for drug information, clarifications, drugs intake, etc. You can contact us by calling our land line : 040-66666591, or Cell No : 08885916591,
                                or Whatsup or email : support@genericwala.com</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accrdnSeventeen">
                                Q.What kind of payment options do you have?
                            </a>
                        </h4>
                    </div>
                    <div id="accrdnSeventeen" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span class="label label-primary">Answer</span>
                            <br/>
                            <br/>
                            <p>We have payment gateway option with Netbanking, Debit card and Credit card payment. You can also make payment online by the following options:</p>
                            <p>1) You can make payment online using Instamojo (India’s Largest Multi-Channel Payment Solution) link : https://www.instamojo.com/@rxshopy (please mention your order number in "purpose" field while making payment) </p>
                            <p>You can make online payment (NEFT/IMPS) to our bank account, our bank account details are: (Please note that IMPS payment are done fast)
                                <br/> Account Holder Name: RXSHOPY INDIA PRIVIATE LIMITED
                                <br/> Current Account No.: 1490135000003918
                                <br/> Bank Name and address : Karur Vysya Bank, Ameepet Branch, Hyderabad -500073
                                <br/> IFSC Code : KVBL0001490
                                <br/> Once the payment is received, we will inform you by SMS or email about the receipt of the payment and the details about the dispatch of the products.
                            </p>
                            <p>3) Cash on delivery is also available for Hyderabad orders and for some most locations in India.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accrdnEighten">
                                Q.Why do we require prescription for ordered generic medicines?
                            </a>
                        </h4>
                    </div>
                    <div id="accrdnEighten" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span class="label label-primary">Answer</span>
                            <br/>
                            <br/>
                            <p>As per the drug controller (The Regulator of Drug Manufacturing & Distribution in India) all drugs other than OTC medicines have to be sold on receipt of a valid prescription only. You can upload a copy of your prescription
                                using the upload prescription function. If you have not uploaded a prescription, you can send a soft copy of the prescription to us by email or Whatsapp.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-popular-brands></app-popular-brands>
<app-footer></app-footer>