<section class="banner-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a routerLink="/Home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                    <li class="breadcrumb-item active"><a routerLink="/about-us">about us</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h3>About Genericwala.com</h3>

            <p>
                Generiwala.com was started by a Health care BPO Company having more than 20 years of experience in Health care Industry.
            </p>
            <p>
                Generiwala.com is an onpne pharmacy, we provide you quapty generic medicines that are produced by reputed Companies at affordable price. We also provide the latest news and updated about generic medicines. Our aim is to reduce healthcare expenses.
            </p>
            <p>
                You will find branded good quapty generic medicines in our website, If you specify the brand name in our search option, you will get the equivalent generic medicine available with us. You can place an onpne order and get them depvery to your door steps
                provide you upload the medical prescription or else pick the medicines from your nearest generic store. We tie-up with local generic stores near to you and get the medicines to your door steps.
            </p>
            <h3>Benefits of Genericwala.com :
            </h3>

            <p>
                <span>Search with branded drugs and get equapng good quapty generic drugs with discounted prices.</span>
            </p>
            <p>
                <span>Get information about generic medicines. Eg:- Composition, Side Effects etc.</span>
            </p>
            <p>
                <span>High quapty generic medicines would be sold at low prices.</span>
            </p>
            <p>
                <span>Order onpne and can collect from your nearest generic store.</span>
            </p>
            <p>
                <span>You can upload you prescription and save it in your login for future use.</span>
            </p>
            <p>
                <span>Reduce medical expenses.  Save time.        Save transport.</span>
            </p>

        </div>

    </div>
</div>
<app-popular-brands></app-popular-brands>
<app-footer></app-footer>