<!-- 
            <div class="container  gw-pplr-prdcts">
      
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-center">Popular Products</h2>

                        <div id="myCarousel-pplr-prdcts" class="carousel slide" data-ride="carousel" data-interval="0">
                        <div class="controls text-right">
                            <a class="left" href="#myCarousel-pplr-prdcts" data-slide="prev">
                                <i class="material-icons media-object">arrow_back</i>
                            </a>
                            <a class="right" href="#myCarousel-pplr-prdcts" data-slide="next">
                                <i class="material-icons media-object">arrow_forward</i>
                            </a>
                        </div>

                            Wrapper for carousel items 
                            <div class="carousel-inner">
                                <div class="item carousel-item active">

                                    <div class="row">

                                        <div class="col-sm-4">
                                        <a class="" href="#">
                                            <div class="thumb-wrapper">
                                                <a class="cart-icon" href="#" data-toggle="tooltip" data-placement="right" title="Add to cart"><i class="material-icons">shopping_cart</i></a>
                                                <a class="wish-icon" href="#" data-toggle="tooltip" data-placement="left" title="Add to wish list"><i class="material-icons">favorite_border</i></a>
                                                <div class="img-box">
 <img src="http://placehold.it/350x260" class="img-responsive img-fluid" alt="">
                                                </div>
                                                <div class="thumb-content">
                                                    <h4>Apple iPad</h4>

                                                    <p class="item-price"><s><i class="fa fa-inr"></i> 400.00</s> <b>$369.00</b></p>
                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                     <a href="#" class="btn btn-primary">product Details</a>
                                                </div>
                                            </div>
                                        </a>
                                        </div>
                                        <div class="col-sm-4">
                                        <a class="" href="#">
                                            <div class="thumb-wrapper">
                                                <a class="cart-icon" href="#" data-toggle="tooltip" data-placement="right" title="Add to cart"><i class="material-icons">shopping_cart</i></a>
                                                <a class="wish-icon" href="#" data-toggle="tooltip" data-placement="left" title="Add to wish list"><i class="material-icons">favorite_border</i></a>
                                                <div class="img-box">
                                                    <img src="http://placehold.it/350x260" class="img-responsive img-fluid" alt="">
                                                </div>
                                                <div class="thumb-content">
                                                    <h4>Sony Headphone</h4>

                                                    <p class="item-price"><s>$25.00</s> <b>$23.99</b></p>
                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                     <a href="#" class="btn btn-primary">product Details</a>
                                                </div>
                                            </div>
                                        </a>
                                        </div>
                                        <div class="col-sm-4">
                                        <a class="" href="#">
                                            <div class="thumb-wrapper">
                                                <a class="cart-icon" href="#" data-toggle="tooltip" data-placement="right" title="Add to cart"><i class="material-icons">shopping_cart</i></a>
                                                <a class="wish-icon" href="#" data-toggle="tooltip" data-placement="left" title="Add to wish list"><i class="material-icons">favorite_border</i></a>
                                                <div class="img-box">
                                                    <img src="http://placehold.it/350x260" class="img-responsive img-fluid" alt="">
                                                </div>
                                                <div class="thumb-content">
                                                    <h4>Macbook Air</h4>

                                                    <p class="item-price"><s>$899.00</s> <b>$649.00</b></p>
                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                     <a href="#" class="btn btn-primary">product Details</a>
                                                </div>
                                            </div>
                                        </a>
                                        </div>

                                    </div>
                                </div>
                                <div class="item carousel-item">
                                    <div class="row">
                                        <div class="col-sm-4">
                                        <a class="" href="#">
                                            <div class="thumb-wrapper">
                                                <a class="cart-icon" href="#" data-toggle="tooltip" data-placement="right" title="Add to cart"><i class="material-icons">shopping_cart</i></a>
                                                <a class="wish-icon" href="#" data-toggle="tooltip" data-placement="left" title="Add to wish list"><i class="material-icons">favorite_border</i></a>
                                                <div class="img-box">
                                                    <img src="http://placehold.it/350x260" class="img-responsive img-fluid" alt="">
                                                </div>
                                                <div class="thumb-content">
                                                    <h4>Sony Play Station</h4>
                                                    <p class="item-price"><s>$289.00</s> <span>$269.00</span></p>

                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                     <a href="#" class="btn btn-primary">product Details</a>
                                                </div>
                                            </div>
                                        </a>
                                        </div>
                                        <div class="col-sm-4">
                                        <a class="" href="#">
                                            <div class="thumb-wrapper">
                                                <a class="cart-icon" href="#" data-toggle="tooltip" data-placement="right" title="Add to cart"><i class="material-icons">shopping_cart</i></a>
                                                <a class="wish-icon" href="#" data-toggle="tooltip" data-placement="left" title="Add to wish list"><i class="material-icons">favorite_border</i></a>
                                                <div class="img-box">
                                                    <img src="http://placehold.it/350x260" class="img-responsive img-fluid" alt="">
                                                </div>
                                                <div class="thumb-content">
                                                    <h4>Macbook Pro</h4>
                                                    <p class="item-price"><s>$1099.00</s> <span>$869.00</span></p>

                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                     <a href="#" class="btn btn-primary">product Details</a>
                                                </div>
                                            </div>
                                        </a>
                                        </div>
                                        <div class="col-sm-4">
                                        <a class="" href="#">
                                            <div class="thumb-wrapper">
                                                <a class="cart-icon" href="#" data-toggle="tooltip" data-placement="right" title="Add to cart"><i class="material-icons">shopping_cart</i></a>
                                                <a class="wish-icon" href="#" data-toggle="tooltip" data-placement="left" title="Add to wish list"><i class="material-icons">favorite_border</i></a>
                                                <div class="img-box">
                                                    <img src="http://placehold.it/350x260" class="img-responsive img-fluid" alt="">
                                                </div>
                                                <div class="thumb-content">
                                                    <h4>Bose Speaker</h4>
                                                    <p class="item-price"><s>$109.00</s> <span>$99.00</span></p>

                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                     <a href="#" class="btn btn-primary">product Details</a>
                                                </div>
                                            </div>
                                        </a>
                                        </div>

                                    </div>
                                </div>
                                <div class="item carousel-item">
                                    <div class="row">
                                        <div class="col-sm-4">
                                        <a class="" href="#">
                                            <div class="thumb-wrapper">
                                                <a class="cart-icon" href="#" data-toggle="tooltip" data-placement="right" title="Add to cart"><i class="material-icons">shopping_cart</i></a>
                                                <a class="wish-icon" href="#" data-toggle="tooltip" data-placement="left" title="Add to wish list"><i class="material-icons">favorite_border</i></a>
                                                <div class="img-box">
                                                    <img src="http://placehold.it/350x260" class="img-responsive img-fluid" alt="">
                                                </div>
                                                <div class="thumb-content">
                                                    <h4>Apple iPhone</h4>
                                                    <p class="item-price"><s>$369.00</s> <span>$349.00</span></p>

                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                     <a href="#" class="btn btn-primary">product Details</a>
                                                </div>
                                            </div>
                                        </a>
                                        </div>
                                        <div class="col-sm-4">
                                        <a class="" href="#">
                                            <div class="thumb-wrapper">
                                                <a class="cart-icon" href="#" data-toggle="tooltip" data-placement="right" title="Add to cart"><i class="material-icons">shopping_cart</i></a>
                                                <a class="wish-icon" href="#" data-toggle="tooltip" data-placement="left" title="Add to wish list"><i class="material-icons">favorite_border</i></a>
                                                <div class="img-box">
                                                    <img src="http://placehold.it/350x260" class="img-responsive img-fluid" alt="">
                                                </div>
                                                <div class="thumb-content">
                                                    <h4>Canon DSLR</h4>
                                                    <p class="item-price"><s>$315.00</s> <span>$250.00</span></p>

                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                     <a href="#" class="btn btn-primary">product Details</a>
                                                </div>
                                            </div>
                                        </a>
                                        </div>
                                        <div class="col-sm-4">
                                        <a class="" href="#">
                                            <div class="thumb-wrapper">
                                                <a class="cart-icon" href="#" data-toggle="tooltip" data-placement="right" title="Add to cart"><i class="material-icons">shopping_cart</i></a>
                                                <a class="wish-icon" href="#" data-toggle="tooltip" data-placement="left" title="Add to wish list"><i class="material-icons">favorite_border</i></a>
                                                <div class="img-box">
                                                    <img src="http://placehold.it/350x260" class="img-responsive img-fluid" alt="">
                                                </div>
                                                <div class="thumb-content">
                                                    <h4>Google Pixel</h4>
                                                    <p class="item-price"><s>$450.00</s> <span>$418.00</span></p>

                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                     <a href="#" class="btn btn-primary">product Details</a>
                                                </div>
                                            </div>
                                        </a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
               
            </div>
   -->