<section class="banner-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item">
                        <a routerLink="/Home"><i class="fa fa-home" aria-hidden="true"></i></a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a routerLink="/Generic Drugs in India">Generic Drugs in India</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<div class="container trmsandcndtns">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h3>Generic Drugs in India</h3>

            <h4>Definition of Drug:</h4>

            <p>According to U.S. Food and Drug Administration (US FDA), any substance intended for use in the diagnosis, cure, relief, treatment or prevention of disease is called as a drug.</p>

            <h4>Branded Drug and Generic Drug:</h4>

            <p>The drug which is protected by patent is a branded drug and the drug which is a copy of branded drug and is equivalent in terms of safety, efficacy, dosage and use is called a generic drug. General generic drugs will cost less.
            </p>
            <p>Generic drugs have the same active ingredients as brand names drugs, both are approved by the Food and Drug Administration (FDA). Generics only become available after patent expires. Patent periods may last upto 20 years on drugs. The same
                company that manufactures the brand drug may also manufacture the generic version or, a different company might manufacture. </p>

            <h4>Role of Generic Drugs in India:</h4>

            <p>Indian pharmaceutical industry has become an important hub in production of generic drugs from last some decades. Total global generic drugs market constituted USD 92 billion and is expected to grow at more than 11%. India is the 4th largest
                market in terms of production and ranks 13th in terms of consumption value. Moreover, India accounts for 22% of the world market of generic drugs. </p>
            <p>Today 95% of the country’s medical needs are served by Indian Pharmaceutical industry. Indian pharma sector exports 32%, of which 90% is generic and growth is about 20% per annum.</p>
            <p>There are several multinational pharmaceutical companies like Pfizer, Aventis, Medley, GlaxoSmithKline etc. which have set up operations in India and are expanding their existing business.</p>
            <p>In the third world countries, a large number of people are living below poverty line. They are not able to afford branded drugs because many a times these drugs are too much expensive. Therefore, generic drugs become the preferred alternatives.
                Generic drugs are as effective and safe as branded drugs, so physicians must prefer generic drugs. Due to an increase in competition between domestic companies and multinational companies, the cost of generic drug gets reduced. Indian
                pharmaceutical companies are primarily generic based; they spend time and money on generic research. Generic market has now also increased due to expiry and shortcoming of patents.</p>

            <h4>References</h4>


            <p>Jain N.K., (2006) A Text Book of Forensic Pharmacy, Vallabh Prakashan, New&nbsp;Delhi, p. 252.</p>
            <p>Generic Drug, Available at:
                <a class="text-primary" href="httsp://www.en.wikipedia.org/wiki/generic_drug"> https://www.en.wikipedia.org/wiki/generic_drug </a>, retrieved on 20th Mar 2009.</p>

            <p>Indus View, Special Report: Opportunities for India in Generic Drug space, Available at:
                <br>
                <a class="text-primary" href="https://www.theindusview.com/vol2Issue8/pdf/Vol2Issue8Special_report_NA.pdf">http://www.theindusview.com/vol2Issue8/pdf/Vol2Issue8Special_report_NA.pdf </a>, retrieved on 14th Apr 2009.</p>
            <p>Overview of Indian Pharmaceutical Industry, Asia business generator project, by Tata Strategic Management Group -
                <br>
                <a class="text-primary" href="https://www.ibpcosaka.or.jp/network/e_abg/e_india_abg_pharmacy_report200803.pdf">http://www.ibpcosaka.or.jp/network/e_abg/e_india_abg_pharmacy_report200803.pdf </a>
            </p>



        </div>

    </div>
</div>
<app-popular-brands></app-popular-brands>
<app-footer></app-footer>