<!-- <div class="container pad-top login">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 main">
            <h1 class="text-center"><span class="text-success"> <i class="fa fa-check-circle" aria-hidden="true"></i></span>
            </h1>

            <h3 class="head text-center">
                Thank You For Your Purchase, Your Order Has Been Received </h3>
            <p class="narrow text-center">Your Genericwala.com order No.
                <span>{{orderId}} </span> is confirmed.</p>

            <p class="narrow text-center">
                You will Receive an Order Confirmation E-mail with Details of your Order and receive a SMS after your Order is packed.
            </p>
            <p class="narrow text-center">
                If you have any queries call to customer support number 040 65916591.
            </p>
            <div class="text-center pad-top">
                <a class="btn btn-success" routerLink="/Home"><span style="padding-right: 10px;"><i class="fa fa-arrow-left" aria-hidden="true"></i></span>Back to Home</a>
            </div>
        </div>
    </div>
</div> -->
<div class="jumbotron  pad-top login">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 main">
                <h1 class="text-center"><span class="text-success"> <i class="fa fa-check-circle" aria-hidden="true"></i></span>
                </h1>

                <h3 class="head text-center">
                    Thank You For Your Purchase, Your Order Has Been Received </h3>
                <p class="narrow text-center">Your Genericwala.com order No.
                    <span>{{orderId}} </span> is confirmed.</p>

                <p class="narrow text-center">
                    You will Receive an Order Confirmation E-mail with Details of your Order and receive a SMS after your Order is packed.
                </p>
                <p class="narrow text-center">
                    If you have any queries call to customer support number 040 65916591.
                </p>
                <div class="text-center pad-top">
                    <a class="btn btn-success" routerLink="/Home"><span style="padding-right: 10px;"><i class="fa fa-arrow-left" aria-hidden="true"></i></span>Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-popular-brands></app-popular-brands>
<app-footer></app-footer>