<section class="banner-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item">
                        <a routerLink="/Home"><i class="fa fa-home" aria-hidden="true"></i></a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a routerlink="/return-policy">Return Policy</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<div class="container trmsandcndtns">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h3>Return Policy</h3>

            <p>
                The website Genericwala.com is a portal owned and operated by RxShopy India Private Limited, At Genericwala.com, we make sure that you are completely satisfied with our products otherwise we are happy to issue a full refund based on the below conditions:
            </p>
            <h4>Refunds is Possible:
            </h4>
            <p>
                If the item(s) is lost during transit
            </p>
            <p>
                If the item(s) is damaged during transit
            </p>
            <p>
                If you received a defective or expired item
            </p>
            <p>
                Refund: Refund may take 8 to 12 working days to reflect in your account(Bank account or wallet) depends on the banking working policy’s we have no control on it.
            </p>
            <h4>Refund/Return /Exchange are possible if:
            </h4>
            <p>
                If the request is placed within 24 hrs of delivery
            </p>
            <p>
                If the product is unused
            </p>
            <p>
                If the seal is intact
            </p>
            <h4>Refund/Return /Exchange are not possible:
            </h4>
            <p>
                For any wrong ordered items,
            </p>
            <p>
                Requests occur due to change in the medication/prescription
            </p>
            <p>
                Products like Injections, vaccines and products required specific storage conditions are not qualify for return/exchange.
            </p>
            <h4>Process of Refund/Return:
            </h4>
            <p>
                To request for a refund, simply you can contact our customer care by calling +91-8885916591 or you can e-mail us at support@genericwala.com with your order details, and valid reason (s)
            </p>
            <p>
                We take customer feedback very seriously and we always use it to improve our quality of service.
            </p>

        </div>

    </div>
</div>
<app-popular-brands></app-popular-brands>
<app-footer></app-footer>