<section class="banner-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item">
                        <a routerLink="/Home"><i class="fa fa-home" aria-hidden="true"></i></a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a routerLink="/privacy-policy">Privacy Policy</a>
                    </li>
                </ol>
                <!-- <a class="" href="#"><img class="" src="../../assets/img/gw-banner.png" alt="Genericwala Logo"></a> -->
            </div>
        </div>
    </div>
</section>
<div class="container trmsandcndtns">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h3>Privacy Policy</h3>

            <p>
                The website Genericwala.com is an internet based portal owned and operated by RxShopy India Private Limited, a company incorporated under the Companies Act, 1956 having registered office at Badeti’s Mansion, 6-3-712/135, Panjagutta Colony, Hyderabad –
                500 082. The Website is a platform that facilitates the online sale of Medical Products, Surgicals and Healthcare products offered by various merchants/vendors/service providers ("Sellers") (collectively the "Services"). The Services are
                offered to the Users through various modes. These terms and conditions of use ("Terms of Use") of the Website between RxShopy India Private Limited and the users/ sellers/registrants of the Website ("You" or "Your" or "Yourself" or "User")
                describe the terms on which RxShopy India Private Limited offers you access to the Website and the Services through the Website.
            </p>
            <p>
                For providing its services, RxShopy India Private Limited will host data and information on the website of the company. The RxShopy India Private Limited will not review, share, distribute, or reference any such user data except as provided in the Terms
                of Use, or as may be required by law. Individual records of user data may be viewed or accessed only for the purpose of resolving a problem, support issues, or suspected violation of the Terms of Use, or as may be required by law. We would
                take all reasonable precautions for maintaining confidentiality of data.
            </p>
            <h4>Personal Information:</h4>
            <p>
                "Personal information" is defined under the SPI Rules to mean any information that relates to a natural person, which, either directly or indirectly, in combination with other information available or likely to be available with a body corporate, is capable
                of identifying such person.
            </p>
            <p>
                The SPI Rules further define "sensitive personal data or information" of a person to mean personal information about that person relating to:
            </p>
            <p>
                a. passwords;
            </p>
            <p>
                b. financial information such as bank accounts, credit and debit card details or other payment instrument details;
            </p>
            <p>
                c. physical, physiological and mental health condition;
            </p>
            <p>
                d. sexual orientation; e. medical records and history;
            </p>
            <p>
                f. biometric information;
            </p>
            <p>
                g. information received by body corporate under lawful contract or otherwise;
            </p>
            <p>
                h. visitor details as provided at the time of registration or thereafter; and
            </p>
            <p>
                i. call data records.
            </p>
            <p>
                Information that is freely available in the public domain or accessible under the Right to Information Act, 2005 or any other law will not be regarded as sensitive personal data or information.
            </p>
            <h4>Users Note:
            </h4>
            <p>
                As part of the registration/application creation and submission process that is available to the Users on this website, certain information, including sensitive personal data or information is collected from the Users
            </p>
            <p>
                All statements in this privacy policy apply to all Users, and all Users are therefore required to read and understand the privacy statements set out herein prior to submitting any sensitive personal data or information to RxShopy India Private Limited
                website, failing which they are required to leave this website immediately.
            </p>
            <p>
                If you have inadvertently submitted any such information to RxShopy India Private Limited prior to reading the privacy statements set out herein, and you do not agree with the manner in which such information is collected, stored or used, then you may
                access, modify and delete all information stored about you on the Website of the company .
            </p>
            <p>
                User’s personally identifiable information they choose to provide on the website is used to help the Users describe/identify themselves.
            </p>
            <p>
                RxShopy India Private Limited will communicate with the users through email and notices posted on the website or through other means available through the service, SMS, including text and other forms of messaging. The Users can change their e-mail and
                contact preference at any time by logging into their “Account” at www.genericwala.com and changing the account settings.
            </p>
            <p>
                To the extent necessary to provide Users with the services on the Website, RxShopy India Private Limited may provide their personal information to third party contractors who work on behalf of or with RxShopy India Private Limited to provide Users with
                such services, to help RxShopy India Private Limited communicate with Users or to maintain the Website. Generally these contractors do not have any independent right to share this information, however certain contractors who provide services
                on the website, including the providers of online communications services, will have rights to use and disclose the personal information collected in connection with the provision of these services in accordance with their own privacy
                policies.
            </p>
            <h4>Liability:
            </h4>
            <p>
                1. RxShopy India Private Limited will not be held responsible or liable in any manner to the Users for any losses, damage, injuries or expenses incurred by the Users as a result of any disclosures made by RxShopy India Private Limited on the website,
                where the User has consented to the making of disclosures by RxShopy India Private Limited.
            </p>
            <p>
                2. If the User had revoked such consent under the terms of the privacy policy, then RxShopy India Private Limited shall not be responsible or liable in any manner to the User for any losses, damage, injuries or expenses incurred by the User as a result
                of any disclosures made by RxShopy India Private Limited prior to its actual receipt of such revocation.
            </p>
            <p>
                3. The User shall not hold RxShopy India Private Limited responsible or liable in any way for any disclosures by RxShopy India Private Limited under Regulation 6 of the Sensitive Personal Information) Rules, 2011 (the "SPI Rules").
            </p>
            <p>
                4. The Services provided by RxShopy India Private Limited or any of its licensers or providers as available, and without any warranties or conditions (express or implied, including the implied warranties of merchantability, accuracy, fitness for a particular
                purpose, title and non-infringement, arising by statute or otherwise in law or from a course of dealing or usage or trade). RxShopy India Private Limited does not provide or make any representation, warranty or guaranty, express or implied
                about the website or the services. RxShopy India Private Limited does not verifies any content or information provided by the Sellers on the Website and to the fullest extent permitted by law, disclaims all liability arising out of the
                User's use or reliance upon the Website, the Services, the RxShopy India Private Limited Content, representations and warranties made by the Sellers or the content or information provided by such Seller on the Website or any opinion or
                suggestion given or expressed by RxShopy India Private Limited or any Seller in relation to any User or Services provided by RxShopy India Private Limited.
            </p>
            <p>
                5. The Website may be linked to the website of third parties, affiliates and business partners. RxShopy India Private Limited has no control over, and not liable or responsible for content, accuracy, validity, reliability, quality of such websites or
                made available by/through our Website. Inclusion of any link on the Website does not imply that RxShopy India Private Limited endorses the linked site. User may use the links and these services at User's own risk.
            </p>
            <p>
                6. RxShopy India Private Limited assumes no responsibility, and shall not be liable for, any damages to, or viruses that may infect User’s equipment on account of User's access to, use of, or browsing the Website or the downloading of any material, data,
                text, images, video content, or audio content from the Website. If a User’s dissatisfied with the Website, User's sole remedy is to discontinue using the Website.
            </p>
            <p>
                7. In no event, including but not limited to negligence, shall RxShopy India Private Limited, or any of its directors, officers, employees, agents or content or service providers (collectively, the "protected entities") be liable for any direct, indirect,
                special, incidental, consequential, exemplary or punitive damages arising from, or directly or indirectly related to, the use of, or the inability to use, the Website or the content, materials and functions related thereto, User's provision
                of information via the Website, lost business or lost sales, even if such protected entity has been advised of the possibility of such damages. In no event shall the protected entities be liable for provision of or failure to provide all
                or any service by a Seller to any User and any content posted, transmitted, exchanged or received by or on behalf of any User or other person on or through the Website.

            </p>
            <p>
                8 .In no event shall the protected entities be liable for failure on the part of the Sellers to provide agreed products or services and for any comments or feedback given by any of the Users in relation to the services provided by any Seller.
            </p>
            <p>
                9. In no event shall the protected entities be liable or responsible for the listing order of Sellers on the Website .The listing of Sellers on the Website is based on numerous factors including User's comments and feedbacks.
            </p>
            <h4>Indemnity:</h4>
            <p>
                User agrees to indemnify and hold harmless RxShopy India Private Limited, its affiliates, officers, directors, employees, consultants, licensers, agents, and representatives from any and all third party claims, losses, liability, damages, and/or costs
                (including reasonable attorney fees and costs) arising from his/her/its access to or use of Website, violation of this Agreement, or infringement by any other user of his/her/its account, of any intellectual property or other right of
                any person or entity. RxShopy India Private Limited will notify you promptly of any such claim, loss, liability, or demand, and in addition to your foregoing obligations, you agree to provide us with reasonable assistance, at your expense,
                in defending any such claim, loss, liability, damage, or cost.
            </p>
            <h4>Termination and Dispute:
            </h4>
            <p>
                1. This Agreement will remain in full force and effects all the user using this Website in any form or capacity.
            </p>
            <p>
                2. The User can terminate his/her/its membership with RxShopy India Private Limited at any time by providing prior written notice to mail id of the RxShopy India Private Limited.
            </p>
            <p>
                3. Users registered with us should be above 18 years of age. RxShopy India Private Limited is not intended for children under the age of 18.
            </p>
            <p>
                4. RxShopy India Private Limited reserves the right to terminate any account in cases:
            </p>
            <p>
                •A User breaches any terms and conditions of this Terms of Use or privacy policy;
            </p>
            <p>
                •RxShopy India Private Limited is unable to verify or authenticate any information provide to RxShopy India Private Limited by a User; or
            </p>
            <p>
                •RxShopy India Private Limited believes in its sole discretion that User's actions may cause legal liability for such User, other Users or for RxShopy India Private Limited or are contrary to the interests of the Website.
            </p>
            <p>
                5. Once temporarily suspended, indefinitely suspended or terminated, the User may not continue to use the Website under the same account, a different account or re-register under a new account.
            </p>
            <p>
                6. RxShopy India Private Limited shall have no obligation to maintain or provide any of User's data and shall thereafter, unless legally prohibited, delete all User's data in its systems or otherwise in its possession or under its control.
            </p>
            <p>
                7. This Agreement and any contractual obligation between RxShopy India Private Limited and User will be governed by the laws of India, subject to the exclusive jurisdiction of Courts in Hyderabad.
            </p>
            <p>
                8. All disputes will be subject to arbitration in English by a single arbitrator appointed by RxShopy India Private Limited under the Arbitration and Conciliation Act, 1996.
            </p>
            <p>
                9. Even after termination, certain obligations mentioned under Covenants, Liability, Indemnity, Intellectual Property, Dispute Resolution will continue and survive termination.
            </p>
            <h4>Severability:
            </h4>
            <p>
                If any provision of this Terms of Use is held to be invalid or unenforceable, such provision shall be struck and the remaining provisions shall be enforced.
            </p>
            <p>
                If you have questions about this Privacy Policy, please contact our customer service at support@genericwala.com or call our landline no. 040-65916591.
            </p>

            <h4>Terms and Conditions:
            </h4>
            <p>
                The following are the Terms and Conditions, read together with the Privacy Policy, that govern your purchase and use of the healthcare products and services (the "Products") from www.genericwala.com, and constitute a legally binding agreement, between
                you ("the Customer" or the "User") and www.genericwala.com, the online Pharmacy.
            </p>
            <p>
                1. By indicating User's acceptance to purchase any product or service offered on the site, user is required to complete such transactions after making payment. Users shall prohibit from indicating its acceptance to purchase products and services where
                it does not intend to complete such transactions
            </p>
            <p>
                2. RxShopy India Private Limited can cancel any product(s) as is reflected on the Website due to some technical issue, typographical error or product information published by seller may be incorrectly reflected. Any order placed for a product that is
                listed at an incorrect price may be canceled. This cancelation shall be regardless of whether the order has been confirmed and/or payment is processed. In the event the payment has been processed, the same shall be credited to your account
                and duly notified thru e-mail.

            </p>
            <p>
                3. RxShopy India Private Limited is not responsible for non-delivery, unsatisfactory or delayed performance of services or damages or delays as a result of items which are out of stock, back ordered or otherwise unavailable. All items are offered only
                for a restricted time and only for the available supply.

            </p>
            <p>
                4. In the event that a non-delivery occurs because of a mistake by you (i.e. wrong name or address) any extra cost towards re-delivery shall be claimed from you.
            </p>
            <p>
                5. Delivery time of order processing starts from the day of receipt of the payment confirmed against the order placed with RxShopy India Private Limited.

            </p>
            <p>
                6. For COD (cash on delivery) orders, the expected delivery time shall be calculated from the date of placing the order. The Delivery time is an approximate time that may differ in case of some un-avoidable conditions.

            </p>
            <p>
                7. RxShopy India Private Limited shall not be liable for any delay / non-delivery of purchased goods by the Vendors due to any un-avoidable events including but not limited to flood, fire, wars, acts of God or any event beyond the control of RxShopy India
                Private Limited.

            </p>
            <p>
                8. Partial delivery of product if any needs to be reported within 24 hrs of receipt of the product.

            </p>
            <p>
                9. Cancellation on user's request may not be allowed, subject to the specific terms and conditions applicable to the type of product or service purchased.

            </p>
            <p>
                10. Delivery of orders would be done address specific not person/time specific.

            </p>
            <p>
                11. RxShopy India Private Limited shall not be held responsible for any refund claim in defects on products with manufacturer's warranty. For reported defects on products with manufacturer's warranty the customer needs to contact the relevant service
                center of the manufacturer, respectively.

            </p>
            <p>
                12. RxShopy India Private Limited reserves the right to cancel any orders placed which is not available, out of stock or in short supply and which holds International Billing Address.

            </p>
            <p>
                13. Region specific or place specific charges or Tax may be levied on some products displayed on the site. These charges are not refundable and shall be borne by the customer. In the event of cancellation of the order, the charges levied shall not be
                refunded.
            </p>
            <p>
                14. By placing the order you agree to receive calls from RxShopy India Private Limited and its agents, courier partners seeking clarification/information regarding your order and any other related information as and when required and disclaim any liability
                of RxShopy India Private Limited in this regard.

            </p>
            <p>
                15. All prices and availability of products are subject to change without prior notice at the sole discretion of RxShopy India Private Limited.
            </p>
            <h4>Payments:
            </h4>
            <p>
                In order to facilitate payments purchased by you through genericwala.com, (RxShopy India Private Limited), offers an online payment gateway facility.
            </p>
            <p>
                This Facility will facilitate you to make online payments, using netbanking, payment wallets, credit/debit card account or any other mode acceptable and made available to the customers from time to time, subject to your complete acceptance and adherence
                to the terms and conditions hereof as well as the terms and conditions of the website of the payment gateway service provider/s.
            </p>
            <p>
                You agree, understand, undertake and confirm that the credit/debit card details provided by you for making payments for Product(s) purchased through RxShopy India Private Limited, either through the on-line payment gateway mechanism will be correct, current,
                complete and accurate and you shall not use the credit card/ debit card or any other bank account which is not lawfully owned by you.
            </p>
            <p>
                The aforesaid information provided by you will not be shared by RxShopy India Private Limited with any of the third parties unless required by law, regulation or court order or for facilitating and completing the purchases made by you or its Vendor\Seller
                will not be responsible for any financial loss, inconvenience or mental agony resulting from misuse of your ID/password/credit card number/account details in anyway.

            </p>


            <h4>Disclaimer</h4>
            <p>
                USER ACKNOWLEDGES THAT THROUGH THIS SITE, RXSHOPY INDIA PRIVATE LIMITED MERELY ACTS AS A FACILITATOR, IN ORDER TO FACILITATE HIGHEST QUALITY SERVICES TO THE USERS. RXSHOPY INDIA PRIVATE LIMITED DOES NOT WARRANT THAT THE FUNCTIONS CONTAINED IN THIS SITE
                WILL BE UNINTERRUPTED OR ERROR FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THIS SITE OR THE SERVERS THAT MAKE IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS, BUT SHALL ENDEAVOUR TO ENSURE USER FULLEST SATISFACTION.
            </p>
            <p>
                RXSHOPY INDIA PRIVATE LIMITED IS NOT LIABLE FOR ANY CLAIMS AGAINST LACK OR DEFICIENCY OF SERVICES; NON-FULFILLMENT OR UNSATISFACTORY FULFILLMENT OF PRODUCTS AND SERVICES PURCHASED BY USER FROM THE THIRD PARTY. THUS, RXSHOPY INDIA PRIVATE LIMITED SHALL
                NOT HAVE ANY LIABILITY WHATSOEVER FOR ANY ASPECT OF THE ARRANGEMENTS BETWEEN THE USERS OF THE SITE AS REGARDS THE STANDARDS OF PRODUCTS AND SERVICES. IN NO EVENT SHALL RXSHOPY INDIA PRIVATE LIMITED BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE,
                INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY OTHER DAMAGES RESULTING FROM:
            </p>
            <p>
                (A) THE USE OR THE INABILITY TO USE THE PRODUCTS AND SERVICES;
            </p>
            <p>
                (B) THE COST OF PROCUREMENT OF SUBSTITUTE PRODUCTS AND SERVICES;
            </p>
            <p>
                (C) UNAUTHORIZED ACCESS TO OR ALTERATION OF THE USER'S TRANSMISSIONS OR DATA;
            </p>
            <p>
                (D) ANY OTHER MATTER RELATING TO THE SERVICES; INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF USE, DATA OR PROFITS, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OR PERFORMANCE OF THE WEBSITE.
            </p>
            <p>
                RXSHOPY INDIA PRIVATE LIMITED SHALL NOT BE HELD RESPONSIBLE FOR NON-AVAILABILITY OF THE WEBSITE DURING PERIODIC MAINTENANCE OPERATIONS OR ANY UNPLANNED SUSPENSION OF ACCESS TO THE WEBSITE THAT MAY OCCUR DUE TO TECHNICAL REASONS OR FOR ANY REASON BEYOND
                RXSHOPY INDIA PRIVATE LIMITED'S CONTROL. THE USER UNDERSTANDS AND AGREES THAT ANY MATERIAL AND/OR DATA DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE WEBSITE IS DONE ENTIRELY AT THEIR OWN DISCRETION AND RISK AND THEY WILL BE SOLELY RESPONSIBLE
                FOR ANY DAMAGE TO THEIR COMPUTER SYSTEMS OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF SUCH MATERIAL AND/OR DATA.
            </p>
            <p>
                THE CLAUSE SHALL SURVIVE THE TERMINATION OR EXPIRY OF THIS AGREEMENT.
            </p>


        </div>

    </div>
</div>
<app-popular-brands></app-popular-brands>
<app-footer></app-footer>