<section class="banner-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item">
                        <a routerLink="/Home"><i class="fa fa-home" aria-hidden="true"></i></a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a routerLink="/gnrc-drug-lnks">Generic drug links</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h3>Generic Drug Links</h3>

            <ul class="drug-lnk-lst" style="list-style-type:square">
                <li class="text-primary">
                    <a target="_blank" href="https://ispub.com/IJTWM/8/1/10060">Opportunities for Generic Drugs in India -P Sharma, S Kumar, R Pahwa, A Sharma </a>
                </li>
                <li class="text-primary">
                    <a target="_blank" href="http://www.ibpcosaka.or.jp/network/e_abg/e_india_abg_pharmacy_report200803.pdf">Overview of Indian Pharmaceutical Industry, Asia business generator project, by Tata Strategic Management
                        Group
                        <br>
                    </a>
                </li>
                <li class="text-primary">
                    <a target="_blank" href="https://ispub.com/IJTWM/8/1/10060">Opportunities for Generic Drugs in India
                    </a>
                </li>
                <li class="text-primary">
                    <a target="_blank" href="http://www.thehindu.com/news/cities/Delhi/doctors-at-aiims-directed-to-prescribe-generic-drugs-in-opd/article6390219.ece">Doctors at AIIMS directed to prescribe generic drugs in OPD.
                        <br>
                    </a>
                </li>
                <li class="text-primary">
                    <a target="_blank" href="http://theconversation.com/health-check-how-do-generic-medicines-compare-with-the-big-brands-42472">Health Check: how do generic medicines compare with the big brands?
                        <br>
                    </a>
                </li>
                <li class="text-primary">
                    <a target="_blank" href="http://indianexpress.com/article/cities/ahmedabad/centre-plans-to-open-over-1000-generic-medicine-stores-in-june/#sthash.XGeK4yWK.dpuf">Centre plans to open over 1,000 generic medicine stores in June
                        <br>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>
<app-popular-brands></app-popular-brands>
<app-footer></app-footer>