    .shop-header-bg {
        position: fixed;
        width: 100%;
        top: 58px;
        background-color: #0e76bc;
        z-index: 1029;
    }
    
    .navbar-default.custom-nav .navbar-nav>li>a {
        margin-left: 5px;
        color: #ccc;
        cursor: pointer;
        padding-bottom: 0;
    }
    
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover {
        color: #555;
        background: none;
    }
    
    .navbar-nav>li>.dropdown-menu {
        margin-top: -1px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    
    .custom-nav {
        background: none;
        box-shadow: none;
    }
    
    .mega-dropdown {
        position: static !important;
    }
    
    .navbar {
        margin-bottom: 0;
    }
    
    .nav-stacked>li>a {
        position: relative;
        display: block;
        padding: 8px 15px;
        cursor: pointer;
    }
    
    .nav-stacked>li>a i {
        float: right;
        font-size: 13px;
        line-height: 17.5px;
    }
    
    .navbar-default.custom-nav .navbar-nav>li>a:hover,
    .navbar-default.custom-nav .navbar-nav>.active>a {
        color: #fff;
        background-color: transparent;
    }
    
    .support-call p {
        color: #fff;
        padding-top: 12px;
        position: relative;
        /* font-size: 13px; */
        margin: 6px 0 0;
        left: -12px;
        float: right;
    }
    
    .mega-dropdown-menu {
        padding: 20px 0px;
        width: 100%;
        background-color: #fff;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
        left: 0;
    }
    
    .mega-dropdown-menu>li>ul {
        padding: 0;
        margin: 0;
    }
    
    .mega-dropdown-menu>li>ul>li {
        list-style: none;
    }
    
    .mega-dropdown-menu>li ul>li>a:hover,
    .mega-dropdown-menu>li ul>li>a:focus {
        text-decoration: none;
    }
    
    .mega-dropdown-menu .dropdown-header {
        font-size: 18px;
        color: #ff3546;
        padding: 5px 60px 5px 5px;
        line-height: 30px;
    }
    
    .mega-dropdown .dropdown-toggle .fa-angle-down {
        margin: 4px 0 0 11px;
    }
    
    .pr-pl-0 {
        padding-left: 0;
        padding-right: 0;
        border-right: 1px solid #ddd;
        margin-top: -20px;
    }
    
    .nav-pills>li>a {
        border-radius: 0;
    }
    
    .mega-dropdown-menu .nav-pills>li>a:hover,
    .mega-dropdown-menu .nav-pills>li.active>a,
    .mega-dropdown-menu .nav-pills>li.active>a:focus,
    .mega-dropdown-menu .nav-pills>li.active>a:hover,
    .mega-dropdown-menu .nav-pills>li.active>a:active {
        background: #0e76bc;
        border-left: 4px solid #ec8558;
        color: #fff;
    }
    
     :focus {
        outline: none;
    }
    
    .mega-dropdown-menu .tab-content h3 {
        font-weight: 400;
        font-size: 16px;
        color: #ec8558;
        margin: 0 0 20px;
        cursor: pointer;
    }
    
    .mega-dropdown-menu .tab-content li>a {
        font-size: 13px;
        color: #555;
        padding: 5px 0;
        display: block;
        cursor: pointer;
    }
    
    .mega-dropdown-menu .nav-pills>li>a {
        color: #555;
    }
    
    @media(max-width:767px) {
        .shop-header-bg {
            top: 106px;
        }
        .navbar-nav .open .dropdown-menu {
            position: absolute;
            float: none;
            width: auto;
            margin-top: 0px;
            background-color: #fff;
            border: 1px solid #ddd;
            left: 0;
            height: 468px;
            overflow-y: auto;
        }
        .nav-stacked li a {
            padding: 7px 8px;
            font-size: 12px;
        }
        .mega-dropdown-menu .tab-content h3 {
            font-size: 13px;
        }
        .mega-dropdown-menu .tab-content li>a {
            font-size: 11px;
        }
    }