<div class="jumbotron  pad-top login">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 main">
                <h1 class="text-center"><span class="text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>
                </h1>

                <h3 class="text-center">
                    you have cancelled payment before paying... </h3>
                <p class="text-center">Please try again....</p>


                <div class="text-center pad-top">
                    <a class="btn btn-success" routerLink="/Home"><span style="padding-right: 10px;"><i class="fa fa-arrow-left" aria-hidden="true"></i></span>Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-popular-brands></app-popular-brands>
<app-footer></app-footer>